{% extends "base/base_blog.html" %}

{% block title %}
    <title>我的blog</title>
{% endblock %}

{% block cover %}
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="row" style="background-color: #2aabd2;border-radius: 10px;" >

                <div class="col-sm-12 col-md-12">
                    <img src="https://ghchart.rshah.org/409ba5/aglorice" />
                </div>
                <div class="col-sm-12 col-md-12">
                    <p style="float: left;color: black">数据来源:<a href="https://github.com/aglorice" style="color: black">aglorice</a></p>
                </div>

            </div>
        </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img class="img-circle" src="https://avatars.githubusercontent.com/u/93847713?v=4" alt="..." style="width: 80px;height: 80px">
          <div class="caption">
            <h4>aglorice</h4>
            <p>面朝大海，春暖花开</p>
            <p><a href="https://github.com/aglorice" class="btn btn-primary btn-block" role="button">follow me</a></p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}